blueprint (1).json
{
    "name": "Integration Airtable, OpenAI (ChatGPT, Whisper, DALL-E), Twilio",
    "flow": [
        {
            "id": 8,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appAfzlWKGj7n5GQq",
                "view": "",
                "table": "tbl4hjlfMYw78eK9Z",
                "config": {
                    "labelField": "Owner Name",
                    "triggerField": "Created Time"
                },
                "formula": "",
                "maxRecords": 1000,
                "__IMTCONN__": 3165549,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Real Estate Wholesaling CRM"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Properties"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Owner Name"
                                },
                                "triggerField": {
                                    "label": "Created Time"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr5TxRm5PGQgzVmD)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Property ID",
                        "type": "number",
                        "label": "Property ID"
                    },
                    {
                        "name": "Property Address",
                        "type": "text",
                        "label": "Property Address"
                    },
                    {
                        "name": "Owner Name",
                        "type": "text",
                        "label": "Owner Name"
                    },
                    {
                        "name": "Owner Contact",
                        "type": "text",
                        "label": "Owner Contact"
                    },
                    {
                        "name": "Property Type",
                        "type": "text",
                        "label": "Property Type"
                    },
                    {
                        "name": "Bedrooms",
                        "type": "text",
                        "label": "Bedrooms"
                    },
                    {
                        "name": "Bathrooms",
                        "type": "text",
                        "label": "Bathrooms"
                    },
                    {
                        "name": "Square Footage",
                        "type": "number",
                        "label": "Square Footage"
                    },
                    {
                        "name": "Lot Size",
                        "type": "number",
                        "label": "Lot Size"
                    },
                    {
                        "name": "Year Built",
                        "type": "number",
                        "label": "Year Built"
                    },
                    {
                        "name": "Follow Ups",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Follow Ups"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "AI Status",
                        "type": "text",
                        "label": "AI Status",
                        "multiline": true
                    },
                    {
                        "name": "MAO",
                        "type": "number",
                        "label": "MAO"
                    },
                    {
                        "name": "Messages",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Contacted",
                        "type": "date",
                        "label": "Last Contacted"
                    },
                    {
                        "name": "Disqualified Date",
                        "time": true,
                        "type": "date",
                        "label": "Disqualified Date"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "Opt-Out Reason",
                        "type": "text",
                        "label": "Opt-Out Reason"
                    },
                    {
                        "name": "Conversation Step",
                        "type": "number",
                        "label": "Conversation Step"
                    },
                    {
                        "name": "Conversation History",
                        "type": "text",
                        "label": "Conversation History",
                        "multiline": true
                    },
                    {
                        "name": "Handoff Triggered",
                        "type": "boolean",
                        "label": "Handoff Triggered"
                    },
                    {
                        "name": "AI Conversation Enabled",
                        "type": "boolean",
                        "label": "AI Conversation Enabled"
                    },
                    {
                        "name": "Last AI Message",
                        "type": "text",
                        "label": "Last AI Message",
                        "multiline": true
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Zip Code",
                        "type": "text",
                        "label": "Zip Code"
                    },
                    {
                        "name": "Campaign",
                        "type": "text",
                        "label": "Campaign"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3165800
            },
            "mapper": {
                "model": "gpt-3.5-turbo",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "Write a friendly but direct text message to {{8.`Owner Name`}} introducing yourself as a local real estate investor. Mention you’re interested in buying their property at {{8.`Property Address`}} for cash and can close quickly. Keep it under 320 characters and casual.\r\n"
                    }
                ],
                "max_tokens": "100",
                "temperature": ".7",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-3.5-turbo"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "twilio:SendSMS",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3165952
            },
            "mapper": {
                "to": "{{8.Phone}}",
                "body": "{{2.choices[].message.content}}",
                "from": "+16892028908",
                "fromType": "phone",
                "messageBody": "body"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "chose",
                            "label": "(689) 202-8908"
                        },
                        "fromType": {
                            "mode": "chose",
                            "label": "phone number"
                        },
                        "mediaUrl": {
                            "mode": "chose"
                        },
                        "messageBody": {
                            "mode": "chose",
                            "label": "Create a Body"
                        },
                        "smartEncoded": {
                            "mode": "chose"
                        },
                        "applicationSid": {
                            "mode": "chose"
                        },
                        "provideFeedback": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "twilio"
                            },
                            "label": "My Twilio connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:twilio",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fromType",
                        "type": "select",
                        "label": "Send a message from",
                        "required": true,
                        "validate": {
                            "enum": [
                                "phone",
                                "service",
                                "channel"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "messageBody",
                        "type": "select",
                        "label": "Message Body",
                        "required": true,
                        "validate": {
                            "enum": [
                                "body",
                                "template"
                            ]
                        }
                    },
                    {
                        "name": "mediaUrl",
                        "spec": {
                            "name": "value",
                            "type": "url"
                        },
                        "type": "array",
                        "label": "Media URL"
                    },
                    {
                        "name": "smartEncoded",
                        "type": "boolean",
                        "label": "Smart encoded"
                    },
                    {
                        "name": "validityPeriod",
                        "type": "uinteger",
                        "label": "Validity period"
                    },
                    {
                        "name": "statusCallback",
                        "type": "url",
                        "label": "Status callback"
                    },
                    {
                        "name": "applicationSid",
                        "type": "select",
                        "label": "Application"
                    },
                    {
                        "name": "maxPrice",
                        "type": "number",
                        "label": "Max price"
                    },
                    {
                        "name": "provideFeedback",
                        "type": "boolean",
                        "label": "Provide feedback"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Phone number",
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "text",
                        "label": "Body",
                        "required": true,
                        "validate": {
                            "max": 1600
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "1"
            },
            "metadata": {
                "designer": {
                    "x": 905,
                    "y": 10
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3165549
            },
            "mapper": {
                "base": "appAfzlWKGj7n5GQq",
                "table": "tblmjIxe6Txx66Kc9",
                "record": {
                    "fldduQguv4l9dvaPm": [
                        "{{8.id}}"
                    ],
                    "fldgBTGGlkvVD3sOT": "SMS",
                    "fldmdGJltAox7OlmR": "Outgoing",
                    "fldsNdmozkp5w8bGf": "{{2.choices[].message.content}}",
                    "fldzUGWpapJX1flXi": "Me"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1205,
                    "y": 10
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Real Estate Wholesaling CRM"
                        },
                        "table": {
                            "label": "Messages",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldduQguv4l9dvaPm",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Property"
                                        },
                                        {
                                            "name": "fldmdGJltAox7OlmR",
                                            "type": "text",
                                            "label": "Direction"
                                        },
                                        {
                                            "name": "fldsNdmozkp5w8bGf",
                                            "type": "text",
                                            "label": "Message Body",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldzUGWpapJX1flXi",
                                            "type": "text",
                                            "label": "Sender"
                                        },
                                        {
                                            "name": "fldjnnsJSIGT73xt4",
                                            "type": "number",
                                            "label": "Response Score"
                                        },
                                        {
                                            "name": "fldgfgDlauainkcF6",
                                            "type": "text",
                                            "label": "Action Taken"
                                        },
                                        {
                                            "name": "fldgBTGGlkvVD3sOT",
                                            "type": "text",
                                            "label": "OMNI Channel"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldduQguv4l9dvaPm": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr5TxRm5PGQgzVmD)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldduQguv4l9dvaPm",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Property"
                            },
                            {
                                "name": "fldmdGJltAox7OlmR",
                                "type": "text",
                                "label": "Direction"
                            },
                            {
                                "name": "fldsNdmozkp5w8bGf",
                                "type": "text",
                                "label": "Message Body"
                            },
                            {
                                "name": "fldzUGWpapJX1flXi",
                                "type": "text",
                                "label": "Sender"
                            },
                            {
                                "name": "fldjnnsJSIGT73xt4",
                                "type": "number",
                                "label": "Response Score"
                            },
                            {
                                "name": "fldgfgDlauainkcF6",
                                "type": "text",
                                "label": "Action Taken"
                            },
                            {
                                "name": "fldgBTGGlkvVD3sOT",
                                "type": "text",
                                "label": "OMNI Channel"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Message ID",
                        "type": "number",
                        "label": "Message ID"
                    },
                    {
                        "name": "Property",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Property"
                    },
                    {
                        "name": "Direction",
                        "type": "text",
                        "label": "Direction"
                    },
                    {
                        "name": "Message Body",
                        "type": "text",
                        "label": "Message Body",
                        "multiline": true
                    },
                    {
                        "name": "Sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "Response Score",
                        "type": "number",
                        "label": "Response Score"
                    },
                    {
                        "name": "Action Taken",
                        "type": "text",
                        "label": "Action Taken"
                    },
                    {
                        "name": "OMNI Channel",
                        "type": "text",
                        "label": "OMNI Channel"
                    },
                    {
                        "name": "Timestamp",
                        "time": true,
                        "type": "date",
                        "label": "Timestamp"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3165549
            },
            "mapper": {
                "id": "{{8.id}}",
                "base": "appAfzlWKGj7n5GQq",
                "table": "tbl4hjlfMYw78eK9Z",
                "record": {
                    "fld13vnn5ljLr37g1": "New Lead",
                    "fldBbfeuU3OwN2LWP": "You: {{3.body}}",
                    "fldyWDb9BmGRYKgYl": "{{2.choices[].message.content}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1516,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Real Estate Wholesaling CRM"
                        },
                        "table": {
                            "label": "Properties"
                        },
                        "record": {
                            "nested": {
                                "fld6ZAXEnmK7OCJgW": {
                                    "mode": "edit"
                                },
                                "fldRijFtruqPuzbPx": {
                                    "mode": "chose"
                                },
                                "fldi0lbHRgAtXLuRO": {
                                    "mode": "chose"
                                },
                                "fldirKZ6LM2xRLKvx": {
                                    "mode": "chose"
                                },
                                "fldqPtg25zfNcgjRN": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr5TxRm5PGQgzVmD)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldPW5Lg43H80jsAd",
                                "type": "text",
                                "label": "Property Address"
                            },
                            {
                                "name": "fld4sttNKDBvE9yS4",
                                "type": "text",
                                "label": "Owner Name"
                            },
                            {
                                "name": "fldvD0GsdGJB13H2F",
                                "type": "text",
                                "label": "Owner Contact"
                            },
                            {
                                "mode": "edit",
                                "name": "fld6ZAXEnmK7OCJgW",
                                "type": "select",
                                "label": "Property Type"
                            },
                            {
                                "name": "fldM1wwduEkF17qom",
                                "type": "text",
                                "label": "Bedrooms"
                            },
                            {
                                "name": "fld7g38VaMrERzFhU",
                                "type": "text",
                                "label": "Bathrooms"
                            },
                            {
                                "name": "fld34Il7MI1IEAENU",
                                "type": "number",
                                "label": "Square Footage"
                            },
                            {
                                "name": "fldCT7xfgOyny8Guu",
                                "type": "number",
                                "label": "Lot Size"
                            },
                            {
                                "name": "fldhX3jDbDgedoRDk",
                                "type": "number",
                                "label": "Year Built"
                            },
                            {
                                "name": "fldi0lbHRgAtXLuRO",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Follow Ups"
                            },
                            {
                                "name": "fldnpuV56My6Vrixf",
                                "type": "text",
                                "label": "Phone"
                            },
                            {
                                "name": "fldlycsuQLVApyNau",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fld13vnn5ljLr37g1",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "fldINqvHhWK4ax8Sx",
                                "type": "text",
                                "label": "AI Status"
                            },
                            {
                                "name": "fldxZzR8NR8DJOQ73",
                                "type": "number",
                                "label": "MAO"
                            },
                            {
                                "name": "fldirKZ6LM2xRLKvx",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Messages"
                            },
                            {
                                "name": "fldRYWLj25yPoLqDa",
                                "time": true,
                                "type": "date",
                                "label": "Disqualified Date"
                            },
                            {
                                "name": "fld7NurzCawmFRNif",
                                "type": "text",
                                "label": "Notes"
                            },
                            {
                                "name": "fldJDfZOHQfqNPnKe",
                                "type": "text",
                                "label": "Opt-Out Reason"
                            },
                            {
                                "name": "flduWYTR8DMIe75o7",
                                "type": "number",
                                "label": "Conversation Step"
                            },
                            {
                                "name": "fldBbfeuU3OwN2LWP",
                                "type": "text",
                                "label": "Conversation History"
                            },
                            {
                                "name": "fldRijFtruqPuzbPx",
                                "type": "boolean",
                                "label": "Handoff Triggered"
                            },
                            {
                                "name": "fldqPtg25zfNcgjRN",
                                "type": "boolean",
                                "label": "AI Conversation Enabled"
                            },
                            {
                                "name": "fldyWDb9BmGRYKgYl",
                                "type": "text",
                                "label": "Last AI Message"
                            },
                            {
                                "name": "fldLYWNCuWtmgIpps",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "fld1d0OWW668jgIGx",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "fldLctxuFYamjzt3C",
                                "type": "text",
                                "label": "Zip Code"
                            },
                            {
                                "name": "fld032klkTkMyMz2J",
                                "type": "text",
                                "label": "Campaign"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Property ID",
                        "type": "number",
                        "label": "Property ID"
                    },
                    {
                        "name": "Property Address",
                        "type": "text",
                        "label": "Property Address"
                    },
                    {
                        "name": "Owner Name",
                        "type": "text",
                        "label": "Owner Name"
                    },
                    {
                        "name": "Owner Contact",
                        "type": "text",
                        "label": "Owner Contact"
                    },
                    {
                        "name": "Property Type",
                        "type": "text",
                        "label": "Property Type"
                    },
                    {
                        "name": "Bedrooms",
                        "type": "text",
                        "label": "Bedrooms"
                    },
                    {
                        "name": "Bathrooms",
                        "type": "text",
                        "label": "Bathrooms"
                    },
                    {
                        "name": "Square Footage",
                        "type": "number",
                        "label": "Square Footage"
                    },
                    {
                        "name": "Lot Size",
                        "type": "number",
                        "label": "Lot Size"
                    },
                    {
                        "name": "Year Built",
                        "type": "number",
                        "label": "Year Built"
                    },
                    {
                        "name": "Follow Ups",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Follow Ups"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "AI Status",
                        "type": "text",
                        "label": "AI Status",
                        "multiline": true
                    },
                    {
                        "name": "MAO",
                        "type": "number",
                        "label": "MAO"
                    },
                    {
                        "name": "Messages",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "Created Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Last Contacted",
                        "type": "date",
                        "label": "Last Contacted"
                    },
                    {
                        "name": "Disqualified Date",
                        "time": true,
                        "type": "date",
                        "label": "Disqualified Date"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes"
                    },
                    {
                        "name": "Opt-Out Reason",
                        "type": "text",
                        "label": "Opt-Out Reason"
                    },
                    {
                        "name": "Conversation Step",
                        "type": "number",
                        "label": "Conversation Step"
                    },
                    {
                        "name": "Conversation History",
                        "type": "text",
                        "label": "Conversation History",
                        "multiline": true
                    },
                    {
                        "name": "Handoff Triggered",
                        "type": "boolean",
                        "label": "Handoff Triggered"
                    },
                    {
                        "name": "AI Conversation Enabled",
                        "type": "boolean",
                        "label": "AI Conversation Enabled"
                    },
                    {
                        "name": "Last AI Message",
                        "type": "text",
                        "label": "Last AI Message",
                        "multiline": true
                    },
                    {
                        "name": "City",
                        "type": "text",
                        "label": "City"
                    },
                    {
                        "name": "State",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "Zip Code",
                        "type": "text",
                        "label": "Zip Code"
                    },
                    {
                        "name": "Campaign",
                        "type": "text",
                        "label": "Campaign"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}